<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>

<script src = "/js/blog/modal.js"></script>

<body>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">너만의 도시락 나만의 도시락</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="/img/blog/portfolio/finalproject/final_project_img.png" alt="" />
                            <!-- Portfolio Modal - Text -->
                            <p style = "font-size: large">
                                <strong>KH 정보 교육원에서 진행한 FINAL PROJECT</strong>
                            </p>
                            <p class = "mb-5" style = "text-align : left">
                                프로 젝트 : 커스텀 도시락 제작 판매 사이트<br/>
                                개발 기간 : 2019.08.02 ~ 2019.09.02 (총 6명)<br/>
                                개발 목표 : 바쁜 현대 사회에 직장인들이 식사를 잘 챙겨 먹지 못하고 있다.<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                이러한 이유로 커스텀 도시락 제작 판매 홈페이지를 제작하여 정해진 시간에 원하는 반찬으로<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                이루어진 도시락을 지정된 장소에서 받아 규칙적인 식사를 돕는다.<br/>
                                개발 환경<br/>
                                - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OS &nbsp;&nbsp;&nbsp;&nbsp; : Window 7 , 10 / Mac OS<br/>
                                - 구현 언어 : Java, HTML5, CSS3, Java Script, Oracle<br/>
                                - 사용 기술 : Ajax, 주소 API, 캡차, QR코드, 그래프 API(D3.js), WebNotification API, Mail SMPT<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                kakao (Login, Pay, Map) API, Spring (Batch, Security, WebSocket), jQuery(Drag and Drop)<br/>
                                - 사용 도구 : Eclipse, Oracle DataBase 11g, Apache Tomcat 9.0 , Bootstrap4.0 , Summer Note<br/>
                                구현 기능 : 로그인, 결제, 지도, 검색, 채팅, 커스텀, QR코드, 장바구니<br/>

                            </p>

                            <button class = "btn btn-primary" onclick = "window.open('/final_pdf','final_pdf')">전체 PDF 문서 보기</button>
                            <a class = "btn btn-primary" href = "https://github.com/jaewon0913/Final_Project">GitHub</a>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>