<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>

<script src = "/js/app/modal.js"></script>

<body>

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">외국인을 위한 국내 여행 정보 사이트</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="/img/blog/portfolio/semiproject/semi_project_img.png" alt="" />
                            <!-- Portfolio Modal - Text -->
                            <p style = "font-size: large">
                                <strong>KH 정보 교육원에서 진행한 SEMI PROJECT</strong>
                            </p>
                            <p class = "mb-5" style = "text-align : left">
                                프로 젝트 : 외국인을 위한 국내 여행 정보 사이트<br/>
                                개발 기간 : 2019.05.27 ~ 2019.06.21 (총 5명)<br/>
                                개발 목표 : 외국인들이 우리나라를 여행을 하게 되었을 때 우리나 전통미를 강조하며<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                다른 사이트와 다른 편리함과 다양한 정보를 제공<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                우리나라의 축제 및 관광지 등의 정보를 쉽게 수집 할 수 있도록 할 것 이다.<br/>
                                개발 환경<br/>
                                - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OS &nbsp;&nbsp;&nbsp;&nbsp; : Window 7 , 10 / Mac OS<br/>
                                - 구현 언어 : Java, HTML5, CSS3, Java Script, Oracle<br/>
                                - 사용 기술 : Ajax, Servlet, JSP, Google Map API, Facebook Login API, Kakao (Pay, Map) API<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                공공데이터포털 데이터 API, 기상청(날씨누리) API<br/>
                                - 사용 도구 : Eclipse, Oracle DataBase 11g, Apache Tomcat 9.0 , Summer Note<br/>
                                구현 기능 : 로그인, 결제, 지도, 게시판, 채팅, 날씨, 투어, 축제, 관광지<br/>

                            </p>

                            <button class = "btn btn-primary" onclick = "window.open('/semi_pdf','semi_pdf')">전체 PDF 문서 보기</button>
                            <a class = "btn btn-primary" href = "https://github.com/jaewon0913/Semi_Project_git">GitHub</a>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>