<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="context-path">

    <title>JaeWon SpringBoot / AWS 개발 공간</title>
</head>

<body>
<!-- Common script -->
<th:block th:include="common/include-script"></th:block>

<div class="wrapper">
    <div th:text="${message}">
    </div>
</div>

</body>
</html>